<div [ngClass]="minimized ? 'minimized' : 'window-border'">
    <button style="margin: 3px;" mat-button (click)="toggleMinimize()">{{ minimized ? "□" : "-"}}</button>
    <button style="margin: 3px;" mat-button (click)="onClose()">X</button>
    <span style="margin: 3px;">{{ channel.chatName }}</span>
    <div *ngIf="!minimized" id="chat-window">
        <ul id="messages">
            <li *ngFor="let m of messages; trackBy: trackByFn" #messageContainer>
                {{ m.senderName }}>&nbsp;&nbsp;&nbsp;{{ m.message }}
            </li>
        </ul>
    </div>
    <mat-form-field subscriptSizing="dynamic" style="width: 60%;">
    <input matInput style="margin: 3px 3px 3px 3px" *ngIf="!minimized" [(ngModel)]="message"
        (keydown.enter)="sendMessage()" type="text">
    </mat-form-field>
    <button mat-button *ngIf="!minimized"  (click)="sendMessage()">Send</button>
    </div>