<div id="profile-container">
    <mat-card class="profile-card">
        <mat-card-header>
            <mat-card-title>Profile</mat-card-title>
        </mat-card-header>
        <mat-divider style="margin-bottom: 20px"></mat-divider>
        <mat-card-content>
            <div class="profile-info-item">
                <mat-card-subtitle>ID</mat-card-subtitle>
                <span>{{user?._id}}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="profile-info-item">
                <mat-card-subtitle>Username</mat-card-subtitle>
                <span>{{user?.username}}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="profile-info-item">
                <mat-card-subtitle>Balance</mat-card-subtitle>
                <span>{{user?.balance}} pesos or fabatka or something</span>
            </div>
            <mat-divider></mat-divider>
            <div class="profile-info-item">
                <mat-card-subtitle>Roles</mat-card-subtitle>
                <span>{{user?.roles}}</span>
            </div>
            <mat-divider></mat-divider>
        </mat-card-content>
    </mat-card>
</div>