#chat-container {
    z-index: 2;
    position: fixed;
    top: 100%;
    right: 0px;
    transform: translateY(-100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
}
    
.chat-window-container {
    margin-top: auto;
    margin-left: 20px;
    margin-right: 20px;
    width: 20%;
}

:host::ng-deep .mat-mdc-form-field-infix {
    padding: 0px !important;
    margin: 0px !important;
    min-height: 0px !important;
}